div {
  width: 50vw;
  min-width: 10em;
  height: 3em;
  margin: 1em auto;
  line-height: 3em;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
  font-family: sans-serif, Verdana;
  border-radius: 0.25em;
}
